<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display" rel="stylesheet">
</head>
<body>
<link rel="stylesheet" type = "text/css" href = "menu.css">
<div class = "menu">
    <a href="/index.html">Logo :p</a>
    <a class="active" href = "/index.html">Hjem</a>
    <a href = "/index.html">Om os</a>
    <a href = "/index.html">Kontakt</a>
    <a href = "/index.html">Priser</a>
</div>
<style>
    body{background-image: url("Unavngivet.png")}
    h1a{
        position: absolute;
        top: 35%;
        left: 15%;
    }
    h1b{
        position: absolute;
        top: 40%;
        left: 15%;
    }
</style>

<div class="footer">
    <p>Adresse: xxx xxxxxxx xxx xxxx tlf: xx xx xx xx </p>
</div>
<h1a>"To be or not to be"</h1a>
<h1b>-Morten</h1b>
</body>

dette er en git test
</html>