<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display" rel="stylesheet">
</head>
<body>
<link rel="stylesheet" type = "text/css" href = "Menu.css">
<div class = "menu">
    <a href="/index.html">SWHTransport</a>
    <a href = "index.html">Hjem</a>
    <a class="active" href = "/index.html">Om os</a>
    <a href = "/index.html">Kontakts</a>
    <a href = "/index.html">Priser</a>
</div>
<div class="footer">
    © 2018 SWH Transport Aps. Alle rettigheder forbeholdes
</div>


</body>
</html>